<div class="game-component">

  <div class="game-component__title-wrapper">
      <h2 class="game-component__title">
        <span class="ico-arrow-up2"></span>
          Up & Down
        <span class="ico-arrow-down2"></span>
    </h2>
  </div>

  <button class="game-component__fab" color="primary" mat-fab (click)="addPlayer()" *ngIf="currentTurn == 0">
      <mat-icon>add</mat-icon>
  </button>

  <div class="game-component__msg" *ngIf="players.length == 0">
    <h3>Aggiungi un giocatore per iniziare.</h3>
  </div>

  <div *ngIf="players.length > 0" class="game-component__table-container">

    <div class="game-component__game-component__table-row game-component__table-header">
      <div class="game-component__table-col game-component__table-turns"><strong>Turno</strong></div>
      <div class="game-component__table-col game-component__table-player" [ngClass]="{'dealer': player.dealer && currentTurn < totalTurns.length}" *ngFor="let player of players">
        <!--mat-icon *ngIf="player.dealer && currentTurn < totalTurns.length">pan_tool</mat-icon-->
        <span>{{player.name | capitalize}}</span>
      </div>
    </div>

    <div class="game-component__table-row" *ngFor="let turn of totalTurns; let turnIndex = index; trackBy:trackByIndex;">

      <div class="game-component__table-col game-component__table-turns">
        <span class="game-component__table-cards">{{turn.cards}}</span>
        <span [className]="[turn.suit.icon]"></span>
      </div>

      <div class="game-component__table-col" *ngFor="let player of players; let playerIndex = index; trackBy:trackByIndex;">
        <mat-form-field class="game-component__select">
          <mat-select [disabled]="(player.dealer && turn.oddsSetted < players.length - 1) || currentTurn != turnIndex" placeholder="Scommessa" disableRipple [(ngModel)]="totalTurns[turnIndex].odds[playerIndex]" (ngModelChange)="calcPoints(totalTurns[turnIndex], playerIndex)">
            <mat-option [disabled]="player.dealer && i == turn.cards - turn.cumulativeOdds" value="{{i}}" *ngFor="let i of [] | range:turn.cards + 1">{{i}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="game-component__select">
          <mat-select placeholder="Prese" [disabled]="currentTurn != turnIndex || !totalTurns[turnIndex].odds[playerIndex]" [(ngModel)]="totalTurns[turnIndex].results[playerIndex]" (ngModelChange)="calcPoints(totalTurns[turnIndex], playerIndex)">
            <mat-option value="{{i}}" *ngFor="let i of [] | range:turn.cards + 1">{{i}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="game-component__table-points">{{totalTurns[turnIndex].points[playerIndex] || "0"}}</div>

      </div>

      <div class="game-component__table-col game-component__table-confirm" *ngIf="currentTurn == turnIndex && turn.cumulativeResults">
        <button mat-raised-button color="primary" *ngIf="turn.cumulativeResults == turn.cards" (click)="moveDealer()">Conferma</button>
      </div>
    </div>

    <div class="game-component__table-row game-component__table-total-container">
      <div class="game-component__table-col game-component__table-total"><strong>TOTALE</strong></div>
      <div class="game-component__table-col game-component__table-total-value" *ngFor="let player of players; let playerIndex = index; trackBy:trackByIndex;">
        <strong>{{totalPoints[playerIndex] || 0 }}</strong>
      </div>
    </div>
  </div>

</div>
