.game-component {

  padding: 5px;

  &__title-wrapper {
    text-align: center;
  }
  &__title {
    color: #3F51B5;
    margin: 20px 0;
    display: inline-block;
    position: relative;
    text-transform: uppercase;

    span {
      position: absolute;
      font-size: 60px;
      top: 50%;
      transform: translateY(-50%);

      &.ico-arrow-up2 {
        right: 100%;
        color: #009049;
      }
      &.ico-arrow-down2 {
        left: 100%;
        color: #d60038;
      }
    }
  }

  &__fab {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 1;
  }
  &__msg {
    padding: 0 10px;
    color: #EA3546;
    text-align: center;
  }
  &__table-container {
    overflow-x: scroll;
    white-space: nowrap;
  }
  &__table-row {
    display: block;
  }
  &__table-header {
    color: #EA3546;
    padding: 10px 0;

    .game-component__table-player {
      padding: 10px;
      border-bottom: 1px solid #EA3546;

      &.dealer {
        background-color: #EA3546;
        color: white;
      }
    }
  }
  &__table-col {
    display: inline-block;
    min-width: 200px;
    max-width: 40%;
    vertical-align: middle;
    padding: 0 10px;
  }
  &__table-turns, &__table-total, &__table-confirm {
    width: 80px;
    min-width: 0px;
    text-align: center;
    padding: 0;
  }
  &__table-turns {

    span[class^="ico"] {
      font-size: 24px;
      margin-top: 5px;
      display: block;
    }

  }
  &__table-cards {
    display: block;
    font-size: 24px;
  }
  &__table-confirm {
    padding: 0 20px;
  }
  &__table-player {
    text-align: center;
  }
  &__table-points {
    text-align: center;
    background-color: #43BCCD;
    color: white;
    padding: 5px 0;
  }
  &__table-total-container {
    font-size: 18px;
    padding: 20px 0;
  }
  &__table-total-value {
    text-align: center;
    color: white;
    background-color: #F86624;
    padding: 10px 0;
    margin: 0 10px;
    border-top: 1px solid #F86624;
  }
  &__select {
    display: block;
    max-width: 200px;
  }

  .ico-spades, .ico-clubs {
    color: black;
  }
  .ico-diamonds, .ico-heart {
    color: red;
  }
}
