.add-player-dialog {
  h2 {
    color: #3F51B5;
  }
  &__input {
    width: 100%;
    display: block;
  }
  &__actions {
    margin: 0 auto;
    display: block;
    padding: 0;
  }
  &__checkbox {
    display: block;
    padding-bottom: 20px;
  }

}
